* {
  margin: 0;
  padding: 0;
}
.container {
}
/* .inp{
  width: 80% !important;
} */

.form-inline {
  width: 100% !important;
}
.startitems {
  display: flex;
  align-items: center;
}
.navbaritems .navbaritem {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fa-star {
  color: bisque;
}
.cadre {
  margin-top: 10%;
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
}
.inp {
  width: 84% !important;
}
.container2 {
  display: flex;
  justify-content: space-between;
}

.tag {
  width: 200px;
  margin: 10px;
  height: 250px;
  border: 1px solid;
  border-color: black;
  color: tomato;
  font-weight: bold;
  position: relative;
}
.img {
  /* position: relative; */
  width: 200px;
  height: 250px;
}
.year {
  position: absolute;
  top: 9%;
}
.title {
  position: absolute;
  top: 9%;
  left: 60%;
}
.rating {
  position: absolute;
  top: 92%;
  left: 49%;
}
